<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Change Passord</title>
</head>
<body>



	<section class="vh-100">
		<div class="container py-5 h-100">
			<div
				class="row d-flex align-items-center justify-content-center h-100">
				<div class="col-md-8 col-lg-7 col-xl-6">
					<img
						src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
						class="img-fluid" alt="Phone image">
				</div>
				<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">


					<!-- email form -->
					<h3>Enter new Password</h3>
						
					<form action="" th:action="@{/change-password}" method="post">
					
						<div class="form-group mt-2">
							<input required name="newpassword" type="password"
								placeholder="Enter password here" class="form-control" />
						</div>

						

						<div class="container text-center mt-3">

							<button type="submit" class="btn btn-success">Change</button>
						</div>

					</form>

				</div>
			</div>
		</div>
	</section>



</body>
</html>